/* 头尾各个页面相同的样式 */
/* 版心 */
.wrapper {
  margin: 0 auto;
  width: 1240px;
}

/* 快捷导航 */
.shortcut {
  height: 52px;
  background-color: #333;
}

.shortcut .wrapper {
  display: flex;
  justify-content: flex-end;
  height: 52px;
}

.shortcut ul {
  display: flex;
  line-height: 52px;
}

.shortcut li a {
  padding: 0 15px;
  border-right: 1px solid #999;
  font-size: 14px;
  color: #fff;
}

.shortcut li:last-child a {
  border-right: 0;
}

.shortcut li .iconfont {
  margin-right: 4px;
  vertical-align: middle;
}

/* 头部 */
.header {
  display: flex;
  margin-top: 22px;
  margin-bottom: 22px;
  height: 69px;
}

/* logo */
.logo {
  margin-right: 100px;
  width: 200px;
  height: 69px;
}

.logo a {
  display: flex;
  width: 230px;
  height: 69px;
  background-image: url("./images/logo.png");
  font-size: 0;
}

/* 搜索区域 */
.search {
  display: flex;
  margin-top: 23px;
  margin-right: 60px;
  width: 800px;
  height: 34px;
  border-bottom: 2px solid #f4f4f4;
}

.search .iconfont {
  font-size: 18px;
  color: #ccc;
}

.search input {
  flex: 1;
  width: 0;
}

.search input::placeholder {
  font-size: 16px;
  color: #ccc;
}

/* 购物车 */
.cart {
  margin-top: 27px;
}

/* 底部 */
.footer {
  height: 580px;
  background-color: #f5f5f5;
}

/* 服务 */
.service {
  padding: 60px 0;
  height: 178px;
  border-bottom: 1px solid #e8e8e8;
}

.service ul {
  display: flex;
  justify-content: space-evenly;
}

.service li {
  display: flex;
  width: 190px;
  height: 58px;
}

.service li h5 {
  margin-right: 20px;
  width: 58px;
  height: 58px;
  background-image: url("./images/sprite.png");
}

.service li:nth-child(2) h5 {
  background-position: 0 -58px;
}

.service li:nth-child(3) h5 {
  background-position: 0 -116px;
}

.service li:nth-child(4) h5 {
  background-position: 0 -174px;
}

.service li p {
  font-size: 28px;
  line-height: 58px;
}

/* 帮助中心 */
.help {
  display: flex;
  height: 300px;
  justify-content: space-between;
  padding-top: 60px;
}

/* left */
.help .left {
  display: flex;
}

.help .left dl {
  margin-right: 84px;
}

.help .left dl:last-child {
  margin-right: 0;
}

.help .left dt {
  margin-bottom: 30px;
  font-size: 18px;
}

.help .left dd {
  margin-bottom: 10px;
  color: #969696;
}

.help .left dd a {
  color: #969696;
}

/* right */
.help .right ul {
  display: flex;
}

.help .right li:first-child {
  margin-right: 55px;
}

.help .right .pic {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
}

/* 版权 */
.copyright {
  text-align: center;
}

.copyright p {
  margin-bottom: 10px;
}

.copyright p a {
  margin: 0 10px;
}